// inclusive color palette by Allison Ofisher from https://medium.com/cafe-pixo/inclusive-color-palettes-for-the-web-bbfe8cf2410e

$mint : #BDD9BF;
$gravel : #929084;
$sunflower : #FFC857;
$gardenia : #A997DF; 
$tomato: #E5323B; 
$axel: #2E4052;

// neutrals
$charcoal : #202020;
$softWhite : #fffcf4;
$white : #ffffff;